.card-avatar img{
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.edit-avatar{
    position: absolute;
}
.avatar-upload {
    position: relative;
    max-width: 190px;

}
.avatar-upload .avatar-edit {
    position: absolute;
    right: 60px;
    z-index: 1;
    top: 10px;
}
.avatar-upload .avatar-edit input {
    display: none;
}
.avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.avatar-upload .avatar-preview {
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

 .page .buttons button{

     position: fixed;
     z-index: 22;
     right: 70px;
     bottom: 70px;
     width: 55px;
     height: 55px;
     border-radius: 50%;
     font-size: 30px;
     text-align: center;
     background-color: #9c27b0;
     color: white;
     font-weight: 600;

 }
#edit-modal .modal-dialog{
    max-width:80%;
}
#add-modal .modal-dialog{
    max-width:50%;
}
/********************************Report***************************************************************/

.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
}


.fc-content {
    white-space: unset !important;
    position: relative;
    padding-bottom: 10px;
    color: white;
    text-align: left;
}

.fc-content .fc-time {
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    left: 0;
    text-align: center;
    border-bottom: 1px solid;
}

.fc-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.fc-description {
    white-space: pre-wrap;
    border-top: 1px solid;
    padding-top: 10px;
}

.fc-agenda-view .fc-day-grid .fc-row {
    min-height: 30em !important;
}

.fc-time-grid-container {
    display: none;
}

.fc-content-skeleton .fc-description{
    min-height: 100px;
}
.bmd-form-group .form-control{
    border: none;
    outline: none;

}
.bmd-form-group .form-control:focus{
    border: none;
    outline: none;
}
input:focus ~ .bmd-label-floating,
input:not(:focus):valid ~ .bmd-label-floating {
    top: -15px;
    bottom: 0px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #404040;
}

#column3_search{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 100px;
    top: 45px;
    height: 30px;
    border: 1px solid #ced4da;;
    text-align: center;
}

#column3_search option{
    padding-left: 15px;
    text-align: center;
}
.report-heading{
    position: relative;
    background: #eee;
}
.date-report{
    position: absolute;
    right: 50px;
}

/** ====================
 * Lista de Comentarios
 =======================*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #dee1e3;
}
/*#exampleModal .modal-dialog{*/
/*    max-width: 70% !important;*/
/*}*/

.comments-container {
    width: 768px;
}
.edtCmt textarea{
    border: 1px solid #dadada;
    border-radius: 5px;
}
.edtCmt button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0;
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 29px;
    width: 7px;
    height: 7px;
    border: 3px solid #dee1e3;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;

}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}
.comment-main-level{
    width: 100%;
}
.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 90%;
    margin-left: 80px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box{
    margin-left: 60px ;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.report-comment{
    width: 20px;
    background: #a94141;
    position: absolute;
    height: 20px;
    text-align: center;
    font-weight:600;
    color:white;
    border-radius: 50%;
    top: -10px;
    right: 5px;
}
.search-report{
    float: right;
    margin-right: 15px;
    margin-top: -6px;
    width:40%
}
.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    text-align: left;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}
@media only screen and (max-width: 420px){
    .comments-container {
        width: 100%
    }

    .comments-list .comment-box {
        width: 100%;
        margin-left: 10px;
    }
    .reply-list{
        padding-left: 50px;
    }
    .reply-list .comment-box {
        width: 100%
    }
}
/*========= Style for checkbox input  =============*/
.form-check-input{
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    transform: scale(1.2);
}
.label-warning {
    display: inline-block;
    padding: 0px 4px;
    margin-bottom: 4px;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
    background-color: #f39c12;
}
.select2-selection__choice{
    color: #1f2d3d !important
}
/* style for checkbox */
.check-all{
    background: #5bbbdf;
    padding: 0px 20px;
    border-radius: 5px;
    color: white;
}
select, #from-date, #to-date {
    border-radius: 5px;
    padding: 2px 6px;
    margin-right: 4px;
    border: 1px solid #9aa1e4;
    color: #421818;
}
#toggle-box {
    position: absolute;
    top: 12px;
    right: 21px;
}
#custom-alert {
    z-index: 9999;
    position: absolute;
    right: 5px;
}

/*======== Groups =========*/
ul.list_user{
    margin-top: 10px;
}
.list_user li {
    background-color: #5bbbdf;
    border-radius: 4px;
    cursor: default;
    color: white;
    float: left;
    margin-right: 5px;
    max-width: 200px;
    margin-top: 5px;
    padding: 4px 5px;
}
.list_user li a{
    text-decoration:none;
    color:orange;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    margin-right: 5px;
}
#adduser {
    text-decoration:none;
    border: 1px solid #9c15cc;
    padding: 4px;
    border-radius: 5px;
    color: #9c15cc;
}
#adduser:hover {
    background-color:#9c15cc;
    color: white;
}
/*---- Dashboard ----*/
.statistics{
    font-size: 20px;
}
.statistics.orange small{
    color: orange ;
}
.form-group.label-input label{
    opacity: 1;
    top: -8px;
    font-size: 13px;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #9c15cc !important;
}
textarea:focus, input:focus{
    outline: none !important;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-item img{
    height: 20px;
    float: right;
}
.tableFilters {
    margin-bottom: 15px
}

.tableFilters .control {
    display: flex
}

.tableFilters .select {
    margin: 0 10px
}

.tableFilters select {
    width: 60px;
    height: 25px;
    cursor: pointer;
}

.user-report {
    padding: 15px
}

.comment-report {
    padding: 5px 15px;
    background-color: #0a6ebd;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.tableFilters input {
    float: right;
    border-radius: 5px
}

.txt-search {
    margin-right: 15px
}
#list-notifications a{
    font-size: 14px;
    position: relative;


}
.time-notification{
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 60px;
}
.loading-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.fc-sun ,.fc-sat {
    background:red;
}
.comment-layout .modal-dialog{
    width: 70% !important;
}
.avatar-notification{
    float: unset !important;
    height: 36px !important;
    width: 36px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -12px;
}
